@import "bootstrap-sprockets";
@import "bootstrap";


//common FROM

#container {
  position: relative;
  width: 100%;
  background: #f6f7f8;
  #gbl_header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  #gbl_main {
    padding: 54px 0 0 0;
    width: 100%;
    position: relative;
  }
  #gbl_footer {
    clear: both;
    margin: 40px 0 0 0;
    padding: 52px 0 50px 0;
    background: #fff;
    width: 100%;
    border-top: 1px #ddd solid;
  }
}

ul,ol {
  list-style: none;
}

nav{
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


#sidebar {
  width: 180px;
  float: left;
  section{
    clear: both;
    margin: 28px 0 0 0;
    border-top: 1px #ddd solid;
    padding: 18px 0 0 0;
    #search {
      margin-top: 0;
      padding-bottom: 5px;
      border-top: none;
    }
  }
}


#gbl_title {
  padding: 18px 0 30px 0;
  background: #fff;
  min-height: 133px;
  border-bottom: 1px #ddd solid;
  position: relative;
  #gbl_title_container {
    width: 990px;
    margin: 0 auto 0 auto;
    #user_header {
      clear: both;
      margin: 22px 0 0 0;
      #user_sub {
        width: 150px;
        float: left;
        margin: 0 0 0 42px;
        .image {
          position: relative;
          width: 150px;
          height: 150px;
          p.img {
            font-size: 0;
            line-height: 1;
            letter-spacing: 0;
          }
        }
      }
      #user_main {
        width: 750px;
        float: right;
        padding: 3px 0 0 0;
      }
    }
  }
}

// パンくずリスト
#bread {
  width: 990px;
  ol {
    padding: 0 0 0 0;
    position: relative;
    margin: 0 0 0 -5px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    li {
      display: inline;
      font-size: 13px;
      letter-spacing: normal;
    }
    li:before {
      content: "";
      font-family: 'wearicon';
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: middle;
      letter-spacing: 0;
      font-size: 10px;
      color: #aaa;
      vertical-align: 0.5px;
      padding: 0 6px 0 6px;
    }
    li:first-child {
      vertical-align: middle;
      margin: 0 -3px 0 0;
      display: inline-block;
    }
  }
}


//改ページ
#pager_container {
  clear: both;
  margin: 50px 0 0 0;
  #pager {
    float: right;
    p a, p span {
      display: block;
      width: 90px;
      border-radius: 3px;
      text-align: center;
      font-size: 0;
      line-height: 1;
      letter-spacing: 0;
      padding: 10px 0 10px 0;
      background: #eaeaea;
    }
    .prev {
      margin: 0 10px 0 0;
      float: left;
    }
    ul {
      float: left;
      margin: 0 10px 0 10px;
      padding: 0 0 0 0;
      li:first-child {
        border: none;
      }
      li {
        margin: 5px 5px 0 5px;
        border-left: 1px #ddd solid;
        float: left;
        font-size: 14px;
        line-height: 1;
        a{
          text-align: center;
        }
        a,strong {
          display: block;
          position: relative;
          padding: 2px 12px 2px 12px;
          margin: -2px 0 -2px 0;
          color: #333;
        }
      }
    }
    .next {
      margin: 0 0 0 10px;
      float: left;
    }
  }
}



#gbl_body {
  clear: both;
  width: 990px;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  #content {
    position: relative;
    z-index: 1;
    margin: 0 auto 0 auto;
    width: 990px;
  }
}

//common TO


//_header.html.erb FROM
#gbl_header_bar{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 54px;
  background: #fff;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
  .container {
    position:relative;
    width:990px;
    height:54px;
    margin: 0 auto 0 auto;
  }
}

// ヘッダー　検索条件
#gbl_header_bar #hdr_search{
  position: absolute;
  left: 0;
  top: 9px;
  .input {
    float: left;
    position: relative;
   margin: 0 0 0 0; 
    span input{
      border-color: #ddd;
      background: #f5f5f5;
      padding: 7px 15px 7px 36px;
      font-size: 13px;
      width: 264px;
      height: 36px;
      box-sizing: border-box;
    }
  }
}

// ヘッダー　ロゴ
#gbl_header_bar .logo{
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -75px;
  width: 150px;
  height: 54px;
  a {
    font-size: 0;
    line-height: 1;
    letter-spacing: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px 0 0 0;
    text-align: center;
  }
  a:hover {
    opacity: 0.5;
  }
}
// ヘッダー　マイアカウント
#gbl_header_bar .container .mycontent{
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  letter-spacing: -.40em;
  .user {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    width: 240px;
    height: 100%;
    position: relative;
    .trigger {
      height: 54px;
      width: 240px;
      p {
        font-size: 14px;
        margin: 0 0 0 0;
        height: 100%;
        a {
          color: #333;
          display: block;
          padding: 12px 16px 12px 16px;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          max-width: 240px;
          float: right;
          text-decoration: none;
          height: 100%;
          box-sizing: border-box;
          span.img {
            width: 30px;
            font-size: 0;
            line-height: 1;
            letter-spacing: 0;
            padding: 0 10px 0 0;
            img {
              border-radius: 50%;
              border: 1px #ddd solid;
              height: auto;
              vertical-align: bottom;
            }
          }
          span.name {
             vertical-align: 4px;
          }
        }
        a:hover {
          opacity: 0.5;
        }
      }
    }
  }
}


// ヘッダー プルダウンメニュー
#gbl_header_mycontent {
  position: absolute;
  left: 0;
  top: 54px;
  z-index: 1;
  width: 100%;
  .container {
    width: 990px;
    margin: 0 auto 0 auto;
    position: relative;
    .user {
      // display: none;
      width: 200px;
      position: absolute;
      right: 56px;
      top: 0;
      background: #fff;
      border: 1px #ddd solid;
      border-top: none;
      border-radius: 0 0 3px 3px;
      padding: 14px 10px 14px 10px;
      ul{
        padding: 0 0 0 0; 
        li {
          font-size: 14px;
          a {
            color: #333;
            display: block;
            padding: 4px 0 4px 0;
          }
        }
      }
      .logout {
        margin: 10px 0 0 0;
        a {
          display: block;
          padding: 8px 0 8px 0;
          text-align: center;
          text-decoration: none;
          color: #888;
          font-weight: bold;
          border: 1px #ddd solid;
          border-radius: 2px;
          background: #fafafa;
          width: 100%;
          font-size: 14px;
        }
      }
    }
  }
}
//_header.html.erb TO



//_footer.html.erb FROM
#gbl_footer .container {
  width: 990px;
  margin: 0 auto 0 auto;
  a {
    color: #666;
  }
  #fInner {
    overflow: hidden;
    .section {
      float: left;
      border-left: 1px #ddd solid;
      padding: 0 0 600px 56px;
      margin: 0 0 -600px 0;
      ul {
        float: left;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        li:first-child {
          margin-top: 0;
        }
        li {
          font-size: 12px;
          a {
            display: inline-block;
            padding: 2px 0 2px 0;
          }
        }
      }
    }
    .section:first-child {
      border: none;
    }
  }
  
  #fCorporate {
    clear: both;
    margin: 20px 0 0 0;
    border-top: 1px #ddd solid;
    padding: 5px 0 0 0;
    position: relative;
    ul {
      letter-spacing: -0.4em;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      li:first-child {
        margin-left: 0;
      }
      li:first-child:before {
        border: none;
        padding-left: 0;
      }
      li {
        display: inline-block;
        font-size: 12px;
        letter-spacing: normal;
        margin: 0 0 0 16px;
        a {
          display: inline-block;
          padding: 5px 0 5px 0;
        }
      }
      li:before {
        border-left: 1px #ddd solid;
        content: '';
        padding: 0 0 0 16px;
      }
    }
    #language_switch {
      position: absolute;
      right: -8px;
      top: 3px;
      select {
        border: none;
        opacity: 0.6;
      }
    }
  }
  
  #fCopyRight {
    border-top: 1px #ddd solid;
    margin: 5px 0 0 0;
    padding: 19px 0 0 0;
    position: relative;
    p{
      color: #666;
      font-size: 11px;
    }
    #copy{
      height: 17px;
    }
    .copyrigth {
      float: left;
      margin: 0 0 0 0;
    }
    .txt {
      margin: 1px 0 0 0;
    }
  }
}


#gbl_footer .container #fInner #fService {
  padding-left: 0;
  width: 150px;
  float: left;
}

#gbl_footer .container #fInner #fContents {
  width: 250px;
}

#gbl_footer .container #fInner #fHelp {
  width: 250px;
}

#gbl_footer .container #fInner #fMobile {
  width: 200px;
  padding-right: 0;
}

//_footer.html.erb TO



//home.html.erb FROM

//性別切り替え
#switch_sex_type_home {
  width:100%;
  background:#fff;
  border-bottom:1px #ddd solid;
  nav {
    width: 990px;
    margin: 0 auto 0 auto;
    ul{
      letter-spacing: -.40em;
      text-align: center;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      li{
        width: 160px;
        display: inline-block;
        letter-spacing: normal;
        font-size: 17px;
        text-align: center;
        line-height: 1.2;
        position: relative;
        color: #888;
        a {
          display: block;
          padding: 14px 0 12px 0;
          color: #aaa;
        }
        a:before {
          content: '';
          display: none;
          left: 50%;
          border-bottom: 3px #333 solid;
          position: absolute;
          bottom: -1px;
          width: 80px;
          margin: 0 0 0 -40px;
        }
        a:hover {
          text-decoration: none;
          background: #333;
          color: #fff;
        }
      }
    }
  }
}


#gbl_body {
  width: 100%;
  //おすすめ・タイムライン切り替え
  #switch_menu {
    width: 280px;
    height: 35px;
    margin: 13px auto 0 auto;
    ul{
      width: 280px;
      height: 35px;  
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      li{
        width: 140px;
        float: left;
        text-align: center;
        font-size: 13px;
        a{
          background: #fff;
          display: block;
          border: 1px #ddd solid;
          line-height: 32px;
          padding: 1px 0 0 0;
          color: #aaa;
        }
        a:hover {
          text-decoration: none;
          background: #333;
          color: #fff;
        }
      }  
    } 
  }
}


#content_container_index {
  clear: both;
  margin: 30px auto 0 auto;
  padding: 0 0 50px 0;
  width: 990px;
  position: relative;
  .title {
    font-size: 18px;
    color: #333;
    margin: 0 0 0 0;
    display: inline-block;
  }
  //もっとみるボタン
  .btn_more {
    width: 84px;
    font-size: 11px;
    clear: both;
    margin: 8px 0 0 0;
    float: right;
    a {
      display: block;
      padding: 8px 0 8px 0;
      text-align: center;
      text-decoration: none;
      color: #888;
      font-weight: bold;
      border: 1px #ddd solid;
      border-radius: 2px;
      background: #fafafa;
      padding: 5px 0 5px 0;
    }
  }
  //検索結果
  #content {
    width: 780px;
    float: right;
  }
 //サイドバー
  #sidebar {
    width: 180px;
    float: left;
    section {
      clear: both;
      margin: 28px 0 0 0;
      border-top: 1px #ddd solid;
      padding: 18px 0 0 0;
      ol{
        li {
          position: relative;
        }
      }
    }
    section:first-child {
      border-top: none;
      padding-top: 0;
    }
    section:after {
      clear: both;
      content: "";
      display: table;
    }  
  }
}


// 探す
#sidebar section#search {
  margin-top: 0;
  padding-bottom: 5px;
  border-top: none;
  ul {
    padding: 5px 0 0 0;
    li {
      font-size: 13px;
      margin: 4px 0 0 0;
      clear: both;
      a {
        display: block;
        color: #333;
        padding: 5px 0 5px 0;
        float: right;
        width: 156px;
      }
    }
    li:before {
      color: #333;
      font-size: 17px;
      float: left;
      width: 24px;
      padding: 7px 0 0 0;
    }
  }
}

// ユーザー
#sidebar section#user {
  margin-top: 15px;
  ol {
    padding: 0 0 5px 0;
    margin: 0 0 0 0;
    li:first-child {
      margin-top: 14px;
    }
    li {
      height: 36px;
      clear: both;
      margin: 18px 0 0 0;
      .sub {
        width: 36px;
        height: 36px;
        float: left;
        .img{
          margin: 0 0 0 0;   
          img {
            border-radius: 50%;
            border: 1px #ddd solid;
          }
        }
      }
      .main {
        width: 136px;
        float: right;
        padding: 2px 0 0 0;
        .name {
          font-size: 12px;
          font-weight: bold;
          height: 18px;
          margin: 0 0 0 0;
          .namefirst {
            float: left;
            max-width: 100%;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .clearfix:after {
            content: '.';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
          }
        }
        .txt {
          font-size: 11px;
          line-height: 1.2;
          margin: 3px 0 0 0;
          font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
        }
        .txt:before {
          content: "";
          vertical-align: -1px;
          margin: 0 3px 0 0;
          color: #333;
        }
      }
    }
  }
}

//ブランド
#sidebar section#brand ol{
  padding: 5px 0 0 0;
  li {
    padding: 0;
    font-size: 13px;
    p.txt{
      margin: 0 0 0 0;
      a {
        color: #333;
        display: block;
        padding: 5px 6px 5px 0;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }     
    }
  }
}

// 急上昇ワード
#sidebar section#trend_keyword ul {
  padding: 6px 0 0 0;
  li {
    font-size: 13px;
    a {
      color: #333;
      display: block;
      padding: 5px 6px 5px 0;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}



//検索結果
#content section#ranking, #content section#recommend, #content section.pickupTagList {
  clear: both;
  .title_container {
    .title {
      display: inline-block;
    }
    .update {
      display: inline-block;
      font-size: 12px;
      color: #888;
      margin: 0 0 0 8px;
    }    
  }
  ol,ul{
    margin: -8px 0 0 -18px;
    width: 798px;
    padding-left: 0;
    li{
      width: 248px;
      float: left;
      margin: 18px 0 0 18px;
      border: 1px #ddd solid;
      background: #fff;
      border-radius: 3px;
      position: relative;
      .rank {
        left: 8px;
        top: 8px;
        position: absolute;
        z-index: 3;
        font-size: 14px;
        line-height: 25px;
        width: 29px;
        height: 29px;
        border: 2px #666 solid;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        color: #fff;
        border-radius: 50%;
        margin: 0 0 0 0;
      }
    }
  }
}

//プロフィール　画像部分
#content section#ranking ol li .image_container, #content section#ranking ul li .image_container, #content section#recommend ol li .image_container, #content section#recommend ul li .image_container, #content section.pickupTagList ol li .image_container, #content section.pickupTagList ul li .image_container {
  position: relative;
  z-index: 1;
  background: #eaeaea;
  border-radius: 2px 2px 0 0;
  .img {
    position: relative;
    z-index: 1;
    margin: 0 0 0 0;
    img {
      border-radius: 2px 2px 0 0;
      width: 246px;
      height: 328px;
    }
  }
}
//プロフィール　名前部分
#content section#ranking ol li .profile, #content section#ranking ul li .profile, #content section#recommend ol li .profile, #content section#recommend ul li .profile, #content section.pickupTagList ol li .profile, #content section.pickupTagList ul li .profile {
  padding: 10px 10px 10px 10px;
  .content {
    width: 156px;
    float: left;
    padding: 2px 0 0 0;
    .sub {
      width: 32px;
      float: left;
      .img {
        background-size: 14px 14px;
        img {
          border-radius: 50%;
          border: 1px #ddd solid;
          width: 32px;
          height: 32px;
        }
      }
    }
    .main {
      width: 114px;
      float: right;
      .name {
        font-size: 13px;
        line-height: 1.2;
        font-weight: bold;
        .namefirst {
          max-width: 82%;
        }
        .user_type_ico {
          float: left;
        }
      }
      .txt {
        font-size: 11px;
        line-height: 1.2;
        margin: 3px 0 0 0;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
      }
    }
  }
  .btn_block {
    width: 64px;
    float: right;
    .btn {
      width: 64px;
      position: relative;
      margin: 0 auto 0 auto;
      a{
        font-size: 9px;
        padding-top: 4px;
        padding-bottom: 4px;
        letter-spacing: 0;
      }
    }
  }
    
}
//home.html.erb TO




//users/index.html.erb TO

#gbl_title_user_index {
  padding: 18px 0 30px 0;
  background: #fff;
  min-height: 133px;
  border-bottom: 1px #ddd solid;
  position: relative;
  #gbl_title_container {
    width: 990px;
    margin: 0 auto 0 auto;
  }
}


#switch_content_type_index {
  width: 100%;
  background: #fff;
  border-bottom: 1px #ddd solid;
  nav {
    width: 990px;
    margin: 0 auto 0 auto;
    ul {
      list-style: none;
      li {
        float: left;
        width: 210px;
        font-size: 14px;
        text-align: center;
        border-right: 1px #ddd solid;
        font-weight: bold;
        line-height: 1.2;
        a {
          display: block;
          padding: 15px 0 0 0;
          height: 43px;
          color: #aaa;
        }
      }
    }
  }
}


// 検索件数
#gbl_title_user_index #gbl_title_container .title_container#numberTit {
  display: table;
  width: 100%;
  padding: 25px 0 0 0;
  position: relative;
  .main {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    width: 90%;
    border-right: 1px #ddd solid;
    .tit {
      font-size: 22px;
      font-weight: bold;
      word-break: break-all;
      word-break: break-word;
      margin: 0 0 0 0;
    }
  }
 .sub {
    width: 10%;
    vertical-align: top;
    display: table-cell;
    .container {
      width: 100%;
      padding: 0 0 0 20px;
      float: right;
      .result_num {
        width: 100%;
        margin: 0 0 0 0;
        line-height: 1.4;
        text-align: right;
        white-space: nowrap;
        .num {
          font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
          font-size: 27px;
          font-weight: bold;
          letter-spacing: 0.05em;
        }
        .txt {
          font-size: 13px;
          margin: 0 0 0 5px;
          vertical-align: 1px;
        }
      }
    }
  }

}


#gbl_body_user_index{
  clear: both;
  width: 990px;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  #content {
  width: 738px;
  float: right;
    #search_result {
      clear: both;
      padding: 5px 0 0 0;
      #list_1column {
        clear: both;
        margin: 18px 0 0 0;
      }
    }
  }
}

// 各ユーザー
#list_1column ul li.list:first-child {
  margin-top: 0;
}
#list_1column ul {
  padding: 0 0 0 0;
  li.list {
    display: table;
    width: 100%;
    margin: 18px 0 0 0;
    padding: 23px 0 23px 23px;
    background: #fff;
    border-radius: 3px;
    border: 1px #ddd solid;
  }
}

#list_1column ul li.list .main {
  display: table-cell;
  vertical-align: top;
  .img_box {
    float: left;
    width: 70px;
    .img {
      font-size: 0;
      line-height: 1;
      letter-spacing: 0;
      width: 70px;
      height: 70px;
      img {
        border-radius: 50%;
        border: 1px #ddd solid;
      }
    }
  }
  .content {
    float: right;
    width: 500px;
    padding: 1px 0 0 0;
    .name {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      word-break: break-word;
      a {
        color: #333;
        display: inline-block;
        .user_type_ico {
          display: inline-block;
          white-space: nowrap;
          vertical-align: -2px;
          margin-left: 8px;
        }
      }
    }
    ul.info {
      color: #888;
      margin: 4px 0 0 0;
      li {
        float: left;
        padding: 0 5px 0 0;
        font-size: 11px;
        word-break: break-all;
        word-break: break-word;
      }
      li:after {
        content: '|';
        margin: 0 0 0 5px;
        font-size: 11px;
        vertical-align: 1px;
      }
    }
    ul.meta {
      margin: 2px 0 0 0;
      li {
        float: left;
        font-size: 11px;
        margin: 0 12px 0 0;
        a {
          color: #333;
          display: block;
          span {
            padding: 0 3px 0 0;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
    .fav_brand {
      margin: 10px 0 0 0;
      h4.txt {
        font-size: 11px;
        color: #888;
      }
      ul {
        margin: 0 0 0 -6px;
        position: relative;
        li {
          font-size: 12px;
          text-align: center;
          float: left;
          margin: 6px 0 0 6px;
          a {
            display: block;
            background: #fff;
            color: #333;
            border: 1px #e2e2e2 solid;
            padding: 6px 12px 6px 12px;
            line-height: 1.2;
            border-radius: 2px;
          }
        }
      }
    }
  }  
}


#list_1column ul li.list .sub {
  display: table-cell;
  vertical-align: middle;
  width: 126px;
  p.btn {
    margin: 0 auto 0 auto;
    width: 80px;
    a{
      display: block;
      padding: 8px 0 8px 0;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      border: 1px #1e78ad solid;
      border-radius: 2px;
      background: #2490d0;
      padding-bottom: 10px;
      font-size: 12px;
      line-height: 1.2;
      position: relative;
      z-index: 1;
      font-size: 10px;
      padding-top: 7px;
      padding-bottom: 8px;
    }
    a:before {
      display: block;
      width: 80px;
      content: "";
      padding: 0 0 4px 0;
      font-size: 18px;
      vertical-align: -1.5px;
    }  
  }
}

// ソート順番
.pulldownWrapper {
  margin-bottom: -18px;
  z-index: 2;
  position: relative;
  float: right;
  margin: 0 0 0 5px;
  .pulldownParent a {
    padding: 8px 10px 10px 10px;
    font-size: 14px;
    display: inline-block;
    color: black;
  }
  .pulldownChild {
    border-radius: 3px;
    padding: 12px 0 12px 0;
    margin: -1px 0 0 0;
    z-index: 12;
    position: absolute;
    // right: 9999px;
    // top: 37px;
    border: 1px #ddd solid;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    ul {
      position: relative;
      float: left;
      z-index: 15;
      background: #fff;
      padding: 0 0 0 0;
      li {
        float: none;
        margin: 0;
        font-size: 13px;
        white-space: nowrap;
        min-width: 110px;
        a {
          padding: 6px 20px 5px 20px;
          display: block;
          white-space: nowrap;
          color: #888;
        }
      }
    }
  }
}

// 検索条件
#gbl_body_user_index #control_panel {
  width: 234px;
  float: left;
  margin: 8px 0 0 0;
  position: relative;
  nav {
    background: #fff;
    border: 1px #ddd solid;
    border-radius: 3px;
    padding: 21px 0 28px 0;
    section {
      margin: 30px 0 0 0;
      clear: both;
      .title {
        font-size: 18px;
        margin: 0 0 0 19px;
        color: #333;
      }
    }
  }
}

// 性別
#control_panel nav section.sex ul  {
  padding: 8px 20px 0 19px;
  li:first-child {
     margin-top: 0;
  }
  li {
    font-size: 14px;
    margin: 3px 0 0 0;
    a {
      display: block;
      color: #333;
      padding: 4px 0 4px 0;
    }
    a:before {
      width: 20px;
      height: 20px;
      content: "";
      color: #fff;
      background: #ccc;
      border-radius: 50%;
      text-align: center;
      padding: 4px 0 0 0;
      padding: 4.5px 0 0 0;
      font-size: 12px;
      display: inline-block;
      vertical-align: -1px;
      margin: 0 10px 0 0;
    }
  }
}

#control_panel nav section .flyout_container.line_none {
  margin-top: 5px;
  .flyout {
    margin: 0 0 0 19px;
    .parent{
      padding: 0 0 0 0 ;
    }
    li p.trigger {
      font-size: 13px;
      position: relative;
      a {
        display: block;
        color: #333;
        padding: 9px 18px 9px 5px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    } 
    li .detail {
      position: absolute;
      left: 180px;
      top: 320px;
      border-radius: 3px;
      width: 220px;
      border: 1px #ddd solid;
      background: #fff;
      overflow-y: auto;
      margin: 0 0 30px 0;
      padding: 12px 0 12px 0;
      li {
        font-size: 13px;
        border: none;
        width: 218px;
        a {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          color: #888;
          padding: 5px 14px 5px 14px;
        }
      }
    }
  }
}
//users/index.html.erb TO



//users/show.html.erb FROM

#gbl_title_user_show {
  padding: 18px 0 30px 0;
  background: #fff;
  min-height: 133px;
  border-bottom: 1px #ddd solid;
  position: relative;
  #gbl_title_container {
    width: 990px;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 50;
  }
}

#gbl_body_user_show{
  clear: both;
  width: 990px;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
}

// ユーザープロフィール
#user_header {
  clear: both;
  margin: 22px 0 0 0;
  #user_sub {
  width: 150px;
  float: left;
  margin: 0 0 0 42px;
  }
  #user_main {
  width: 750px;
  float: right;
  padding: 3px 0 0 0;
  }
}

// プロフィール画像
#user_header #user_sub .image {
  position: relative;
  width: 150px;
  height: 150px;
  p.img {
    font-size: 0;
    line-height: 1;
    letter-spacing: 0;
    img {
      border-radius: 50%;
      border: 1px #ddd solid;
    }
  }
}
// フォローボタン
#user_header #user_sub .btn_follow {
  width: 134px;
  margin: 18px auto 0 auto;
  .btn {
    position: relative;
    width: 134px;
    a {
      display: block;
      padding: 8px 0 8px 0;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      border: 1px #1e78ad solid;
      border-radius: 2px;
      background: #2490d0;
      padding-bottom: 10px;
      font-size: 12px;
      line-height: 1.2;
      position: relative;
      z-index: 1;
    }
  }
}

#user_header #user_main .intro {
  .name {
    font-size: 24px;
    line-height: 1.4;
    color: #333;
    .user_type_ico {
      vertical-align: -2px;
    }
  }
  .meta {
    margin: 1px 0 0 0;
    ul.info {
      float: left;
      padding: 4px 0 0 0;
      li:first-child {
        margin-left: 0;
      }
      li {
        float: left;
        font-size: 12px;
        margin: 0 0 0 8px;
        position: relative;
      }
    }
    ul.link {
      float: left;
      margin: 0 0 0 12px;
      position: relative;
      li {
        float: left;
        width: 27px;
        margin: 0 0 0 8px;
        padding: 0 0 0 4px;
        a {
          font-size: 0;
          line-height: 1;
          letter-spacing: 0;
          border: 1px #aaa solid;
          border-radius: 50%;
          display: block;
          width: 27px;
          height: 27px;
          text-align: center;
        }
      }
    }
  }
}
  
#user_header #user_main .profile {
  font-size: 13px;
  margin: 15px 0 0 0;
  .txt {
    overflow: hidden;
  }
  .more {
    margin: 2px 0 -8px 0;
    a {
      display: inline-block;
      padding: 5px 0 5px 0;
    }
  }
}
// お気に入りブランド
#user_header #user_main .favorite {
  position: relative;
  margin: 0 0 0 -17px;
  padding: 8px 0 0 0;
  .link_list {
    margin-top: 8px;
    .label {
      font-size: 11px;
      text-align: center;
      width: 94px;
      float: left;
      line-height: 1.4;
      margin: 8px 0 0 0;
    }
    ul {
      float: right;
      width: 673px;
      position: relative;
      margin: 2px 0 0 -6px;
      li {
        font-size: 12px;
        text-align: center;
        float: left;
        margin: 6px 0 0 6px;
        a {
          display: block;
          background: #fff;
          color: #333;
          border: 1px #e2e2e2 solid;
          padding: 6px 12px 6px 12px;
          line-height: 1.2;
          border-radius: 2px;
        }
      }
    }
  }
}
  




// よく着用するブランド
#gbl_main #gbl_related_link {
  padding-bottom: 0;
  .container {
    height: 43px;
    width: 990px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    .title {
      width: 105px;
      text-align: center;
      margin: 5px 0 0 0;
      line-height: 1.4;
      float: left;
      font-size: 11px;
      position: relative;
      z-index: 2;
    }
    ul {
      margin: 0;
      position: relative;
      z-index: 1;
      li:first-child {
        margin-left: 0;
      }
      li {
        margin-bottom: 5px;
        font-size: 12px;
        text-align: center;
        float: left;
        margin: 6px 0 0 6px;
        a {
          display: block;
          background: #fff;
          color: #333;
          border: 1px #e2e2e2 solid;
          padding: 6px 12px 6px 12px;
          line-height: 1.2;
          border-radius: 2px;
        }
      }
    }
  }
}

#user_menu {
  clear: both;
  padding: 10px 0 0 0;
  nav {
    background: #fff;
    border: 1px #ddd solid;
    border-radius: 3px;
  }
}
#content {
  clear: both;
  margin: 18px 0 0 0;
  }


//コーディネート・お気に入り
#user_menu nav .main {
  float: left;
  li {
    border-right: 1px #ddd solid;
    width: 120px;
    float: left;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    a {
      display: block;
      color: #333;
      padding: 8px 0 8px 0;
      span {
        display: block;
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
}

// フォロー・フォロワー
#user_menu nav .sub {
  float: right;
  li {
    border-left: 1px #ddd solid;
    width: 120px;
    float: left;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    a {
      display: block;
      color: #333;
      padding: 8px 0 8px 0;
      span {
        display: block;
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
}

// 投稿
#main_list .list {
  position: relative;
  width: 1008px;
  margin: -18px 0 0 -18px;
  li {
    position: relative;
    float: left;
    border: 1px #ddd solid;
    border-radius: 3px;
    width: 234px;
    margin: 18px 0 0 18px;
    background: #fff;
    display: block;
    .image {
      position: relative;
      width: 100%;
      height: 310px;
      overflow: hidden;
      background: #f6f7f8;
    }
    .item {
      padding: 9px 5px 9px 10px;
      min-height: 66px;
    }
  }
}
//投稿_メイン画像
#main_list .list li .image a{
  display: block;
  .img {
    font-size: 0;
    line-height: 1;
    letter-spacing: 0;
    img {
      border-radius: 2px 2px 0 0;
      width: 100%;
      height: 310px;
    }
  }
}
//投稿_更新時刻
#main_list .list li .image .show_dt {
  color: #fff;
  font-size: 11px;
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 8px;
  left: 9px;
  line-height: 1.2;
}
//投稿_アイテム画像
#main_list .list li .item .sub{
  float: left;
  width: 40px;
  height: 48px;
  overflow: hidden;
  background: #f6f7f8;
  position: relative;
  .img {
    font-size: 0;
    line-height: 1;
    letter-spacing: 0;
    background-size: 18px 18px;
  }
}
//投稿_アイテム名
#main_list .list li .item .main {
  width: 167px;
  float: right;
  padding: 5px 0 0 0;
  .brand_name {
    font-size: 13px;
    letter-spacing: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
  }
  .txt_container {
    line-height: 1;
   .txt {
      color: #888;
      letter-spacing: 0;
      line-height: 1;
      font-size: 12px;
      margin: 5px 0 0 0;
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
}

//保存・いいねボタン
#main_list .list li .meta {
  padding: 6px 0 9px 0;
  border-top: 1px #ddd solid;
  ul {
    margin: 0;
    width: auto;
    padding: 0 16px 0 16px;
    li {
      border: none;
      border-radius: none;
      margin: 0;
      width: 50%;
      text-align: center;
      font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
      font-weight: bold;
      font-size: 15px;
      .btn a {
        color: black;
        font-weight: bold;
      }
      .liked,a.liked:before{
        color: red;
      }
      a:before {
        content: "";
        margin: 0 5px 0 0;
        color: #333;
        vertical-align: -4px;
        font-size: 20px;
      }
    }
  }
}

// 関連ハッシュタグ
#related_content {
clear: both;
border-top: 1px #ddd solid;
margin: 30px 0 0 0;
  .link_list {
    clear: both;
    margin: 23px 0 0 0;
    .tit {
      font-size: 14px;
      font-weight: bold;
    }
    ul {
      position: relative;
      margin: 2px 0 0 -6px;
       li {
        font-size: 12px;
        text-align: center;
        float: left;
        margin: 6px 0 0 6px;
        a {
          display: block;
          background: #fff;
          color: #333;
          border: 1px #e2e2e2 solid;
          padding: 6px 12px 6px 12px;
          line-height: 1.2;
          border-radius: 2px;
        }
      }
    }
  }
}
//users/show.html.erb TO



//users/edit.html.erb FROM
#content_container {
  margin: 30px 0 0 0;
  width: 990px;
  #sub_nav {
    width: 260px;
    float: left;
    li:first-child {
      margin-top: 0;
    }
    li {
      clear: both;
      margin: 12px 0 0 0;
      position: relative;
      a {
        display: block;
        border: 1px #ddd solid;
        background: #fff;
        border-radius: 4px;
        padding: 10px 12px 10px 20px;
        color: #333;
        .txt {
          font-size: 14px;
          float: left;
        }
      }
    }
  }
  #main {
    width: 690px;
    float: right;
    #main_container {
      border: 1px #ddd solid;
      border-radius: 4px;
      padding: 0 0 30px 0;
      background-color: #fff;
      #basic_info {
        margin-top: 0;
        border-top: none;
        background-color: #fff;
      }
      .list {
        margin: 30px 0 0 0;
        border-top: 1px #ddd solid;
        .tit {
          padding: 10px 5px 10px 20px;
          font-size: 12px;
          background: #efefef;
          border-bottom: 1px #ddd solid;
        }
        ul{
          padding-left:0;
        }
        li {
          clear: both;
          margin: 25px 0 0 0;
          .sub {
            float: left;
            width: 190px;
            p {
              text-align: right;
              font-size: 14px;
            }
          }
          .main {
            margin: 0 25px 0 0;
            float: right;
            width: 433px;
            p.txt {
              padding: 7px 0 0 0;
              font-size: 14px;
            }
          }
        }
      }
    }
    #submit {
      margin: 22px 0 0 0;
      p {
        margin: 0 auto 0 auto;
        width: 146px;
        input {
          font-size: 14px;
          display: block;
          padding: 8px 0 8px 0;
          text-align: center;
          color: #fff;
          font-weight: bold;
          border: 1px #1e78ad solid;
          border-radius: 2px;
          background: #2490d0;
        }
      }
    }
  }
}


//users/edit.html.erb TO


//users/new.html.erb FROM
#regist {
  background: #fff;
  border: 1px #ddd solid;
  border-radius: 3px;
  padding: 35px 0 50px 0;
  #wearid {
    width: 532px;
    display: table-cell;
    border-right: 1px #eee solid;
    h2 {
      text-align: center;
      font-size: 18px;
    }
    .section_container {
      width: 380px;
      margin: 18px auto 0 auto;
      p {
        margin: 7px 0 0 0;
      }
      #submit {
        margin: 22px 0 0 0;
      }
      .captcha {
        position: relative;
        margin: 15px 0 0 0;
        .captchaCnt {
          float: left;
        }
        .captchaFormCnt {
          float: left;
          padding: 0 0 0 10px;
          li {
            width: 210px;
            input {
              width: 100%;
              font-size: 13px;
              height: 45px;
            }
          }
        }
      }
    }
  }
  
  #outside {
    width: 456px;
    display: table-cell;
    ul {
      width: 305px;
      margin: 0 auto 0 auto;
      padding: 8px 0 0 0;
    }
  }
}
//users/new.html.erb TO



//microposts/show.html.erb FROM
#gbl_title_microposts_show {
  padding: 18px 0 30px 0;
  background: #fff;
  min-height: 133px;
  border-bottom: 1px #ddd solid;
  position: relative;
  #gbl_title_container {
    width: 990px;
    margin: 0 auto 0 auto;
    #bread {
      width: 790px;
      ol {
        letter-spacing: -.40em;
        position: relative;
        margin: 0 0 0 -5px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        li {
          display: inline;
          font-size: 13px;
          letter-spacing: normal;
        }
      }
    }
  }
  #user_header_mini {
    padding: 12px 0 12px 0;
    background: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 59px;
    z-index: 40;
    background: #fff;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    .container {
      width: 990px;
      margin: 0 auto 0 auto;
      .main {
        width: 850px;
        float: left;
        display: table;
        .avatar {
          width: 48px;
          display: table-cell;
          vertical-align: middle;
          p {
            font-size: 0;
            line-height: 1;
            letter-spacing: 0;
          }
        }
        .content {
          display: table-cell;
          vertical-align: middle;
          padding: 0 0 0 10px;
          .name {
            font-size: 20px;
            padding: 1px 0 0 0;
            width: 784px;
            line-height: 1.2;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #333;
          }
          .meta {
            position: relative;
            margin: -1px 0 0 0;
            ul {
              float: left;
              padding: 4px 0 0 0;
              li {
                float: left;
                font-size: 12px;
                margin: 0 0 0 8px;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}
#gbl_body_microposts_show {
  clear: both;
  width: 990px;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  position: relative;
  #content_container {
    position: relative;
    width: 990px;
    #content_main {
      width: 414px;
      float: right;
      #coordinate_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 558px;
        height: 743px;
        border-left: 1px #ddd solid;
        border-top: 1px #ddd solid;
        border-right: 1px #ddd solid;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        p {
          font-size: 0;
          line-height: 1;
          letter-spacing: 0;
          position: relative;
          z-index: 1;
          img {
            width: 550px;
            height: 550px;
          }
        }
        .view_num {
          position: absolute;
          left: 10px;
          bottom: 10px;
          font-size: 12px;
          z-index: 2;
          color: #fff;
          background: #000;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 2px;
          line-height: 1.2;
          padding: 4px 12px 4px 12px;
          letter-spacing: 0.05em;
        }
      }
      .content_bg {
        background: #fff;
        border-radius: 3px;
        border: 1px #ddd solid;
        padding: 20px 0 0 23px;
        h1 {
          padding: 0 23px 0 0;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
        }
      }
    }
    #content_sub {
      margin: 550px 0 0 0;
      width: 550px;
      float: left;
      .content_bg {
        padding: 24px 0 0 0;
        border-radius: 0 0 3px 3px;
        background: #fff;
        border: 1px #ddd solid;
        #function_btn {
          position: relative;
          .container {
            padding: 0 23px 15px 23px;
            .btn_save {
              width: 208px;
              float: left;
              display: block;
              background: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
              padding: 0;
              position: relative;
              border: none;
              .allBtn {
                width: 166px;
                float: left;
                font-size: 13px;
                font-weight: bold;
                line-height: 1.2;
                border: 1px #ddd solid;
                border-right: none;
                border-radius: 3px 0 0 3px;
              }
            }
            .subContainer {
              float: right;
              .btn_like {
                float: left;
              }
               .btn_comment {
                margin: 0 0 0 6px;
                float: right;
              }
            }
          }
        }
      }
    }
  }
  #content_other {
    top: -117px;
    z-index: 40;
    position: absolute;
    right: 0;
    width: 220px;
     #edit_btn {
      width: 88px;
      .trigger {
        font-size: 12px;
        background: #fff;
        border-radius: 3px;
        a {
          display: block;
          padding: 8px 0 8px 0;
          text-align: center;
          color: #888;
          font-weight: bold;
          border: 1px #ddd solid;
          border-radius: 2px;
          background: #fafafa;
          height: 30px;
        }
      }
    }
  }
}
//microposts/show.html.erb TO


//microposts/index.html.erb FROM

#search_result_microposts_index{
  clear: both;
  padding: 5px 0 0 0;
  #main_list .list {
    width: 756px;
    margin-top: 0;
    margin: -18px 0 0 -18px;
    padding-left: 0;
    li {
      position: relative;
      float: left;
      border: 1px #ddd solid;
      border-radius: 3px;
      width: 234px;
      margin: 18px 0 0 18px;
      background: #fff;
      .image {
        position: relative;
        width: 100%;
        height: 310px;
        overflow: hidden;
        background: #f6f7f8;
      }
      .item {
        padding: 9px 5px 9px 10px;
        min-height: 66px;
      }
      .meta {
        padding: 6px 0 9px 0;
        border-top: 1px #ddd solid;
        ul {
          margin: 0;
          width: auto;
          padding: 0 16px 0 16px;
          li {
            border: none;
            margin: 0;
            width: 50%;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            .btn a {
              color: #333;
              font-weight: bold;
            }
          }
        }
      }
      .profile {
        padding: 9px 10px 9px 10px;
        border-top: 1px #ddd solid;
        .sub {
          position: relative;
          float: left;
          width: 40px;
          .img {
            font-size: 0;
            line-height: 1;
            letter-spacing: 0;
            width: 40px;
            height: 40px;
            img {
              border-radius: 50%;
              border: 1px #ddd solid;
            }
          }
        }
        
        .main {
          width: 162px;
          float: right;
          padding: 2px 0 0 0;
          .name {
            font-size: 14px;
            line-height: 1.2;
            font-weight: bold;
            .namefirst {
              float: left;
              white-space: nowrap;
              overflow: hidden;
            }
            .user_type_ico {
              width: 16px;
              height: 16px;
              margin-top: 0;
              margin-left: 3px;
            }
          }
          .txt {
            font-size: 13px;
            line-height: 1.2;
            margin: 2px 0 0 0;
            font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
          }
        }
      }
    }
  }
}




// タグ
#related_content {
  clear: both;
  margin: 30px 0 0 0;
  .link_list {
    clear: both;
    margin: 23px 0 0 0;
    min-height: 58px;
    .tit {
      font-size: 14px;
      font-weight: bold;
    }
      
    ul {
      position: relative;
      margin: 2px 0 0 -6px;
      li {
        font-size: 12px;
        text-align: center;
        float: left;
        margin: 6px 0 0 6px;
        a {
          display: block;
          background: #fff;
          color: #333;
          border: 1px #e2e2e2 solid;
          padding: 6px 12px 6px 12px;
          line-height: 1.2;
          border-radius: 2px;
        }
      }
    }
    
  }
}

//検索条件
#control_panel {
    width: 234px;
    float: left;
    margin: 8px 0 0 0;
    position: relative;
    nav {
      background: #fff;
      border: 1px #ddd solid;
      border-radius: 3px;
      padding: 21px 0 28px 0;
      section {
        margin: 30px 0 0 0;
        clear: both;
        .tit {
          font-size: 18px;
          margin: 0 0 0 19px;
          color: #333;
        }
      }
      
      // 性別
      .sex ul {
        padding: 8px 20px 0 19px;
        li {
          font-size: 14px;
          margin: 3px 0 0 0;
          a {
            display: block;
            color: #333;
            padding: 4px 0 4px 0;
          }
        }
      }
        
      // ユーザタイプ
      .user_type{
        .flyout_container {
          margin: 14px 0 0 0;
          .flyout {
            margin: 0 0 0 19px;
            p.trigger {
              font-size: 13px;
              position: relative;
              a {
                display: block;
                color: #333;
                padding: 9px 18px 9px 5px;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
              }
              .detail {
                position: absolute;
                left: -9999px;
                top: -99999px;
                border-radius: 3px;
                width: 220px;
                border: 1px #ddd solid;
                background: #fff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                overflow-y: auto;
                margin: 0 0 30px 0;
                padding: 12px 0 12px 0;
                li {
                  font-size: 13px;
                  border: none;
                  width: 218px;
                  a {
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    color: #888;
                    padding: 5px 14px 5px 14px;
                  }
                }
              }
            }
          }
        }
      }

      //ブランド 
      .brand{
        .select_overlay {
          margin: 14px 0 0 0;
          .trigger {
            border-top: 1px #ddd solid;
            margin: 0 0 0 19px;
            padding: 7px 0 0 0;
            font-size: 13px;
             a {
              padding: 5px 12px 5px 12px;
              display: block;
              float: right;
            }
          }
        }
      }
        
      // カテゴリ、季節、その他
      .category,.season,.other{
        .flyout_container {
          margin: 14px 0 0 0;
          .flyout {
            margin: 0 0 0 19px;
            ul{
              padding-left: 0;
              li {
                border-bottom: 1px #ddd solid;
                position: relative;
                .trigger {
                  font-size: 13px;
                  position: relative;
                  a {
                    display: block;
                    color: #333;
                    padding: 9px 18px 9px 5px;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                .detail {
                  position: absolute;
                  left: -9999px;
                  top: -99999px;
                  border-radius: 3px;
                  width: 220px;
                  border: 1px #ddd solid;
                  background: #fff;
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                  overflow-y: auto;
                  margin: 0 0 30px 0;
                  padding: 12px 0 12px 0;
                  li {
                    font-size: 13px;
                    border: none;
                    width: 218px;
                    a {
                      max-width: 100%;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: block;
                      color: #888;
                      padding: 5px 14px 5px 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      // カラー
      .color_palet {
        padding: 6px 0 0 14px;
        li {
          width: 40px;
          height: 40px;
          font-size: 8px;
          float: left;
          margin: 1px 1px 0 0;
          border-radius: 3px;
          text-align: center;
          position: relative;
          letter-spacing: 0;
          white-space: nowrap;
          a {
            display: block;
            width: 40px;
            height: 40px;
            position: relative;
            z-index: 2;
            padding: 14px 0 0 0;
            border-radius: 3px;
            opacity: 0;
          }
        }
      }
    }
    
}


//microposts/index.html.erb TO




//sessions/new.html.erb FROM
#gbl_body_login {
    clear: both;
    width: 990px;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
    #user_menu {
      clear: both;
      padding: 10px 0 0 0;
      nav {
        background: #fff;
        border: 1px #ddd solid;
        border-radius: 3px;
        .main {
          float: left;
        }
        li {
          width: 120px;
          float: left;
          text-align: center;
          font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.4;
          span {
            display: block;
            font-size: 10px;
            font-weight: normal;
          }
        }
      }
    }
    #content {
          position: relative;
          z-index: 1;
          margin: 0 auto 0 auto;
          width: 990px;
          #content_container {
            margin: 30px 0 0 0;
            width: 990px;
            #sub_nav {
              width: 260px;
              float: left;
              ul {
                list-style: none;
                li {
                  clear: both;
                  margin: 12px 0 0 0;
                  position: relative;
                  a {
                    display: block;
                    border: 1px #ddd solid;
                    background: #fff;
                    border-radius: 4px;
                    padding: 10px 12px 10px 20px;
                    color: #333;
                  }
                }
              }
            }
            #main {
              width: 690px;
              float: right;
            }
          }
      }
}
//sessions/new.html.erb TO



//sessions/new.html.erb FROM
#login {
  background: #fff;
  border: 1px #ddd solid;
  border-radius: 3px;
  padding: 35px 0 50px 0;
  #wearid {
    width: 532px;
    display: table-cell;
    border-right: 1px #eee solid;
    h2 {
      text-align: center;
      font-size: 18px;
    }
    .loginfunction {
      width: 380px;
      margin: 18px auto 0 auto;
      input {
        width: 100%;
        font-size: 13px;
        height: 45px;
      }
    }
  }
  #outside {
    width: 456px;
    display: table-cell;
    h2 {
      text-align: center;
      font-size: 18px;
      ul {
        width: 305px;
        margin: 0 auto 0 auto;
        padding: 8px 0 0 0;
        li {
          margin: 10px 0 0 0;
          font-size: 16px;
          overflow: hidden;
          letter-spacing: 0.05em;
        }
      }
    }
  }
}
//sessions/new.html.erb TO


