<footer id="gbl_footer">
	<div class="container">
		<div id="fInner" class="clearfix">
			
			<div id="fService" class="section">
				<ul class="clearfix">
					<li><a href="/">WEAR</a></li>
					<li><a href="https://zozo.jp/" target="_blank">ZOZOTOWN</a></li>
					<li><a href="https://zozo.jp/zozoshoes/" target="_blank">ZOZOSHOES</a></li>
					<li><a href="https://zozo.jp/zozoused/" target="_blank">ZOZOUSED</a></li>
				</ul>
			</div>
			
			<div id="fContents" class="section">
				<ul class="clearfix">
					<li><a href="/coordinate/">コーディネート一覧</a></li>
					<li><a href="/user/">ユーザー一覧</a></li>
					<li><a href="/item/">アイテム一覧</a></li>
					<li><a href="/shop/">店舗一覧</a></li>
					
					<li><a href="/brand/">ブランド一覧</a></li>
					<li><a href="/category/">カテゴリー一覧</a></li>
					
				</ul>
				
			</div>
			<div id="fHelp" class="section">
				<ul class="clearfix">
					<li><a href="/first/">はじめての方へ</a></li>
					<li><a href="https://bo.wear.jp/business/" target="_blank">ショップオーナーの皆様へ</a></li>
					<li><a href="/help/">ヘルプ</a></li>
					<li><a href="https://wear.jp/contact/">お問い合わせ</a></li>
					<li><a href="/sitemap/">サイトマップ</a></li>
				</ul>
			</div>
			<div id="fMobile" class="section">
				<ul class="clearfix">
					<li><a href="https://itunes.apple.com/jp/app/fasshonkodineto-wear/id725208930" target="_blank">iPhoneアプリ</a></li>
					<li><a href="https://play.google.com/store/apps/details?id=com.starttoday.android.wear&amp;referrer=utm_source%3Dwear_pc%26utm_medium%3Dgm%26utm_content%3Dlogo%26utm_campaign%3Dweb" target="_blank">Androidアプリ</a></li>
					<li class="sns ico_twitter"><a href="https://twitter.com/wear_official" target="_blank">Twitter</a></li>
					<li class="sns ico_facebook"><a href="https://www.facebook.com/WEARjp" target="_blank">Facebook</a></li>
					<li class="sns ico_instagram"><a href="https://instagram.com/wear_official/" target="_blank">Instagram</a></li>
					<li class="sns ico_pinterest"><a href="https://jp.pinterest.com/wearofficial/" target="_blank">Pinterest</a></li>
					
				</ul>
			</div>
		</div>
		<div id="fCorporate" class="clearfix">
			<ul class="clearfix">
				<li><a href="https://corp.zozo.com/" target="_blank">コーポレートサイト</a></li>
				<li><a href="https://corp.zozo.com/about/" target="_blank">会社概要</a></li>
				<li><a href="https://corp.zozo.com/ir/" target="_blank">IR情報</a></li>
				<li><a href="https://corp.zozo.com/recruit/" target="_blank">採用情報</a></li>
				<li><a href="/rules/">利用規約</a></li>
				<li><a href="/privacy/">プライバシーポリシー</a></li>
			</ul>

			
			<div id="language_switch">
				<form name="ChangeLocale" method="post" action="">
				<input type="hidden" name="c" value="ChangeLocale">
					<div class="select icon_font">
						<select name="gbl_switch_locale" onchange="this.form.submit()">
							<option value="1" selected="">日本語</option>
							<option value="2">English</option>
							<option value="5">繁体中文</option>
							<option value="6">简体中文</option>
						</select>
					</div>
				</form>
			</div>
			

		</div>
		<div id="fCopyRight" class="icon_font">
			<div id="copy" class="clearfix">
				<p class="copyrigth">COPYRIGHT © ZOZO, Inc. ALL RIGHTS RESERVED.</p>
			</div>
			<p class="txt">サイト内の文章、画像などの著作物は株式会社ZOZOに属します。複製、無断転載を禁止します。</p>
		</div>
	</div>
</footer>